
 body {
  font-family: 'Ubuntu';
  
 }

 header {
  background:#b6ce91;
  padding: 10px;
  text-align:center;
 }

 div {
  padding: 3px
 }

 nav {
  width: 90%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
 }